@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunitoRegular;
  src: url('./fonts/Nunito/Nunito-Regular.ttf');
}

.fontNunitoRegular {
  font-family: nunitoRegular;
}

.listStyle {
  list-style-type: square;
}
